pyyaml~=5.4.1
robotframework~=4.1.3
robotframework-seleniumlibrary~=5.1.3
robotframework-lint==1.1
robotframework-zoomba~=2.13.1
robotframework-debuglibrary~=2.2.2
robotframework-metrics~=3.3.2
pandas~=1.3.5
openpyxl~=3.0.9
chromedriver-autoinstaller~=0.3.1
geckodriver-autoinstaller~=0.1.0
colorama~=0.4.4
termcolor~=1.1.0